<h2>广告设置</h2>
<msgqueue />
<a href="?c=org.opencomb.advertisement.NewAdvertisement">新建广告</a> | 
<a href="?c=org.opencomb.advertisement.CarouselAdvertisement">新建轮播广告</a>
<table>
	<tr>
		<th>名称</th>
		<th>类型</th>
		<th>widget</th>
		<th>删除</th>
		<th>编辑</th>	
	</tr>
	<tbody>
	<foreach for="$arrAdvertisement" key='sKeyPath' item='arrAItemList'>
	<tr>
		<td>{=$arrAItemList['name']}</td>
		<td>{=$arrAItemList['type']}</td>
		<td>&lt;widget class='advertisment' attr.name="{=$arrAItemList['name']}" attr.type="{=$arrAItemList['type']}" /></td>
		<td><a href="?c=org.opencomb.advertisement.DeleteAdvertisement&aid={=$arrAItemList['name']}">删除</a></td>
		<td><a href="?c=org.opencomb.advertisement.EditAdvertisement&aid={=$arrAItemList['name']}">编辑</a></td>
	</tr>
	</foreach>
	<foreach for="$arrCarousel" key='sKeyPath' item='arrCItemList'>
	<tr>
		<td>{=$arrCItemList['Carousel_name']}</td>
		<td>{=$arrCItemList['type']}</td>
		<td>&lt;widget class='advertisment' attr.name="{=$arrCItemList['Carousel_name']}" attr.type="{=$arrCItemList['type']}" /></td>
		<td><a href="?c=org.opencomb.advertisement.DeleteCarouselAdvertisement&aid={=$arrCItemList['Carousel_name']}">删除</a></td>
		<td><a href="?c=org.opencomb.advertisement.EditCarouselAdvertisement&aid={=$arrCItemList['Carousel_name']}">编辑</a></td>
	</tr>
	</foreach>
	<tr>	
		<td><a href="?c=org.opencomb.advertisement.AdvertisementTest">广告练习</a></td>
	</tr>	
	</tbody>	
</table>
