<lib name='jquery' />

<style type="text/css">
.browser {
	font-family: Verdana, helvetica, arial, sans-serif;
}
.selectArea{
	display:none;
}
.selectClass{
	color:#FF9A00;
	font-weight:bold;
}
.structBrowser_right{
	float:right;
}
.structBrowser_left{
	height:500px;
}
mergeCtl_select_dialog.li{
	list-style-type:none;
}
mergeCtl_select_dialog.ul{
	padding-left:10px;
}
.mouseover-brothers{
	background-color:#FFEF88;
}
.mouseover{
	background-color:#FF9A00;
}
</style>

<script type="text/javascript">
function s_b_init (){
	this._mvcstruct = null;
	this.parentObject = null;
	this.asc = {};
	this.selectType = "";
	this.maxTextLength = 20;
	
	this.allowSelectClass = '{=$sAllowSelectClass}';
}
var structBrowser = new s_b_init();

structBrowser.log = function(text)
{
	if( typeof(console)!='undefined' )
	{
		console.log(text) ;
	}
};
structBrowser.setMvcStruct = function(struct)
{
	this._mvcstruct = struct ;
	jQuery('#browser-controller').empty() ;
	jQuery('#browser-view').empty() ;
	this.loadMvcStruct(this._mvcstruct);
};
structBrowser.loadMvcStruct= function(struct)
{
	switch( this.allowSelectClass ){
	case 'c':
		var browser_controller = jQuery('#browser-controller') ;
		document.getElementById('selectArea-controller').style.display = 'block';
		this.loadController(struct.controller,browser_controller);
		break;
	case 'v':
		var browser_view = jQuery('#browser-view') ;
		document.getElementById('selectArea-view').style.display = 'block';
		this.loadView(struct.view,browser_view);
	}
	
	this.resizeFrame() ;
}
structBrowser.resizeFrame = function(windowWidth , leftWidth){
	if( windowWidth == undefined ){
		return;
		//windowWidth = jQuery(document).innerWidth();
	}
	var rightWidth = jQuery('#div_right').outerWidth();
	if(leftWidth != undefined ){
		jQuery('#iframe-browser').width( leftWidth );
	}else{
		jQuery('#iframe-browser').width(windowWidth - rightWidth -50 );
	}
}
structBrowser.loadController = function(struct,parent){
	var i,j;
	
	var text = this.getFrameTextById( struct.view.id );
	if( text.length > this.maxTextLength ){
		text = text.substr(0,this.maxTextLength) + '...';
	}else if( text.length <= 0 ){
		text = '...';
	}
	
	var controller = jQuery('<li id="li_'+struct.view.id+'"><a href="#" class="folder controller">'+text+'</a></li>') ;
	struct.itemType = 'controller';
	controller.find('.controller:first').data("data",struct);
	
	if( struct.controllers ){
		var controller_ul = jQuery('<ul></ul>');
		for( i in struct.controllers ){
			this.loadController(struct.controllers[i],controller_ul);
		}
		controller.append( controller_ul );
	}
	
	parent.append(controller) ;
}
structBrowser.getFrameTextById = function(id){
	var iframe = document.getElementById('iframe-browser');
	var fcd = iframe.contentWindow.document;
	var obj = fcd.getElementById(id);
	var text = jQuery(obj).text();
	return text;
}
structBrowser.loadView = function(aView,parent){
	var i,j;
	var text = this.getFrameTextById(aView.id);
	if( text.length > this.maxTextLength ){
		text = text.substr(0,this.maxTextLength) + '...';
	}else if( text.length <= 0 ){
		text = '...';
	}
	var view = jQuery("<li id='li_"+aView.id+"'><a href='#' class='folder view'>"+text+"</a></li>") ;
	aView.itemType = 'view' ;
	view.find('.view:first').data("data",aView);
	
	if(aView.views){
		var view_ul = jQuery('<ul></ul>');
		for( i in aView.views ){
			this.loadView( aView.views[i],view_ul );
		}
		view.append( view_ul );
	}
	parent.append(view) ;
}
structBrowser.setCurrentUrl = function(sUrl)
{
	jQuery('#current_url').val(sUrl) ;
};

structBrowser.location = function(sUrl)
{
	if(typeof(sUrl)=='undefined')
	{
		sUrl = jQuery('#current_url').val() ;
	}
	if( sUrl.search('\\?') < 0 )
	{
		sUrl += '?' ;
	}
	if( sUrl.search("mvcmerger_browser") < 0 )
	{
		sUrl += "&mvcmerger_browser=1" ;
	}
	jQuery('#iframe-browser').get(0).contentWindow.location = sUrl ;
};
structBrowser.closeArgsAndTitleInputByNeed = function(){
	if( this.selectType == "target"){
		jQuery('#args').get(0).disabled = true;
		jQuery('#title').get(0).disabled = true;
	}
};
structBrowser.onSelectChange = function(o){
	this.log(o);
}
structBrowser.highlightInFrameById = function(id,color){
	var iframe = document.getElementById('iframe-browser');
	var fcd = iframe.contentWindow.document;
	var obj = fcd.getElementById(id);
	
	var flashing = jQuery('<div class="mergepannel-layout-flashing" style="position:absolute;z-index:300;background:'+color+';border:1px solid #666;filter:alpha(opacity=20);-moz-opacity:0.2;opacity: 0.2; "></div>');
	
	var position = jQuery(obj).offset();
	if( position != null ){
		var width = jQuery(obj).outerWidth(true);
		var height = jQuery(obj).outerHeight(true);
		flashing.css({'top' : position.top,'left' : position.left,'width' : width,'height' : height});
		jQuery(fcd).find('body').append(flashing);
		flashing.show();
	}
}
structBrowser.scrollFrameById = function(id){
	var iframe = document.getElementById('iframe-browser');
	var fcd = iframe.contentWindow.document;
	var obj = fcd.getElementById(id);
	
	var position = jQuery(obj).offset();
	if( position != null ){
		iframe.contentWindow.scrollTo(position.left,position.top);
	}
}
jQuery(function(){
	var iframe = document.getElementById('iframe-browser');
	
	<if "isset({=$sUrl})">
	iframe.contentWindow.location.href = '{=$sUrl}';
	</if>
	
	function SelectItem(jobj){
		var i;
		this.data = jobj.data('data');
		
		// params
		function removeDataNameIsUserCall( originStr ){
			var arr = originStr.split('&');
			var arrRtn = [] ;
			for( var key in arr){
				if( arr[key].indexOf(".data-name-is-user-call=") == 0){
					continue;
				}else{
					arrRtn.push( arr[key] );
				}
			}
			return arrRtn.join("&");
		}
		
		if( 'string' == typeof ( this.data.params ) ){
			this.data.params = removeDataNameIsUserCall(this.data.params);
		}
		
		this.itemType = function(){
			return this.data.itemType ;
		}
		this.id = function(){
			return this.data.id;
		}
		this.emit = function(){
			structBrowser.onSelectChange( this.data );
		}
	}
	
	jQuery(".folder").live("click",function(e){
		var jobj = jQuery(this) ;
		var ceo = new SelectItem( jobj );
		
		jQuery(".folder").removeClass("selectClass");
		jobj.addClass("selectClass");
		
		ceo.emit();
	});
	
	jQuery('.folder').live("mouseover",function(e){
		var jobj = jQuery(this);
		var moeo = new SelectItem(jobj);// mouse over event object
		
		if(moeo.itemType() == 'view' ){
			var id = moeo.id() ;
			structBrowser.highlightInFrameById(id,'#FF9A00');
			structBrowser.scrollFrameById(id);
			var j;
			jobj.closest('ul').children('li').children('a').each(function(){
				var jbobj = jQuery(this);
				jbobj.addClass('mouseover-brothers');
				var bdata = jbobj.data("data");
				if( bdata.id != id ){
					structBrowser.highlightInFrameById(bdata.id,'#FFEF88');
				}
			});
			jobj.addClass('mouseover');
		}else{
			var id = moeo.data.view.id;
			structBrowser.highlightInFrameById(id,'pink');
			jobj.closest('ul').children('li').children('a').each(function(){
				var jbobj = jQuery(this);
				jbobj.addClass('mouseover-brothers');
			});
			jobj.addClass('mouseover');
		}
	});
	
	jQuery('.folder').live("mouseout",function(){
		var fcd = iframe.contentWindow.document;
		// 取消 item 对应的 frame/view 闪烁样式
		jQuery(fcd).find('.mergepannel-layout-flashing').remove();
		jQuery('.mouseover-brothers').removeClass('mouseover-brothers');
		jQuery('.mouseover').removeClass('mouseover');
	});
	
	//frame加载监听以及自动刷新数据
	iframe.onload = function(){
		jquery('#current_url').val(iframe.contentWindow.location.href);
		var sUrl = iframe.contentWindow.location.href;
		if( sUrl.search("mvcmerger_browser") < 0 )
		{
			sUrl += "&mvcmerger_browser=1" ;
			iframe.contentWindow.location.href = sUrl;
		}
	};
	
	//window.onresize = function(){
	//	structBrowser.resizeFrame() ;
	//}
});
</script>

<div id="div_right" class="structBrowser_right">
	<div id='selectArea-controller' class='selectArea'>
		请选择控制器:
		<ul id="browser-controller" class="browser" >
		</ul>
	</div>
	<div id='selectArea-view' class='selectArea'>
		请选择视图：
		<ul id="browser-view" class="browser" >
		</ul>
	</div>
</div>

<div class="structBrowser_left">
	<div>
		<label>页面地址<input type="text" id="current_url" value="" style="width:400px" /></label> 
		<input type="button" value="打开网页" onclick="structBrowser.location();" />
	</div>
	
	<iframe id="iframe-browser" 
		name="iframe-browser"
		src="?mvcmerger_browser=1"
		width="100%"
		height="100%"
		scrolling="auto"
		frameborder="0"
	/>
</div>
