<lib name='jquery'/>
<h2>{=$oAuthName}</h2>
<msgqueue />
<form  method="post" name="Carousel">
	<label>随机广告名称:<input type="text" name="Carousel_name" /> </label><br/><br/>
	<div class='advertisement'>
		<label>广告:
			<select name="advertisement_select[]">
				<foreach for="$arrAdvertisementSelect" key='sKeyPath' item='arrcItemList'>
					<option value="{=$arrcItemList['name']}" size='10px'>{=$arrcItemList['name']}</option>
				</foreach>
			</select>
		</label>&nbsp;&nbsp;
		<label>权重:<input type="text" size="5" name="random_text[]" /></label>&nbsp;&nbsp;&nbsp;&nbsp;
		<label>启用:<input class="advertisement_enable" type="checkbox" name="run_checkbox[]" value="1" /></label>		
	</div>
	<a id='addAdvertisement' href='#'>添加</a><br/><br/><br/>
	<input type="submit" name="" value="保存" />
</form>
<script>
jquery(function(){
	//添加按钮功能
	jquery('#addAdvertisement').click(function(){
		var advertisementForm = jquery(".advertisement").last().clone();
		var advertisementEnable = advertisementForm.find('.advertisement_enable');
		advertisementEnable.val(parseInt(advertisementEnable.val())+1);
		jquery(this).before(advertisementForm);
		return false;
	});
});
</script>
