<lib name='jquery'/>
<css src="bannermanager:css/AdvertisementSetting.css" />
<msgqueue />
<script type="text/javascript">
jQuery(document).ready(function(){
	if(document.getElementById('image_radio').checked)
	{
		document.getElementById('url_text').disabled="disabled";
		document.getElementById('image_file').disabled='';
	}else if(document.getElementById('url_radio').checked){
		document.getElementById('image_file').disabled="disabled";
		document.getElementById('url_text').disabled='';
	}
});
jquery(function(){
	jquery('#image_radio').click(disableImage);
	jquery('#url_radio').click(disableUrl);
});

jquery(function(){
	jquery('.advertisement_select_way').change(function(){
		if(jquery(this).val()=='pic')
		{
			jquery('#'+jquery(this).val()).show();
			jquery('#'+'code').hide();
		}else{
			jquery('#'+jquery(this).val()).show();
			jquery('#'+'pic').hide();
		}
	});
});

function disableImage() 
{
	document.getElementById('url_text').disabled="disabled";
	document.getElementById('image_file').removeAttribute("disabled");
	document.getElementById('url_radio').checked=false;
}
function disableUrl() 
{
	document.getElementById('image_file').disabled="disabled";
	document.getElementById('url_text').removeAttribute("disabled");
	document.getElementById('image_radio').checked=false;
}
//0.8不可用
//<lib name='jquery'/>
</script>
<div class="ad_edit">
<h2>新建Banner</h2>
<form enctype="multipart/form-data"  method="post">
	<h1>类型</h1>
	<select class="advertisement_select_way" name="advertisement_way">
		<option value="pic" >图片</option>
		<option value="code">代码</option>
	</select>
	<h1>名称</h1>
	<widget id="advertis_name_text" class="text" />
	<div id="pic">
	<h1>文本</h1>
	<widget id="title_text" class="text" />
	<h1>添加图片</h1>
	<div class="ad_pic_box">
	<p class="ad_pic">
		<label><widget id="image_radio"/>上传图片:</label><widget id="image_file" />
	</p>
		<label><widget id="url_radio"/>URL引用:</label><widget id="url_text" class="text" attr.style="width:40%;" />
	</div>
	<h1>添加链接</h1>
		<div id="div_setup">
			<label><widget id="forward_text" class="text"/></label><label><widget id="window_checkbox" />启用新窗口</label><br/>
		</div>
	</div>
	
	<div id="code" style="display:none">
		<h1>代码:</h1>
		<label><widget id="code_text" /></label><br/>
	</div>
	

	
	<div id="div_style" style="margin-top:20px">
		<h1>样式</h1>
		<label><widget id="style_text" /></label>
		<p><input type="submit" value="提交" class="ad_button" /></p>
	</div>
</form>
</div>