<lib name=jquery />
<css src="bannermanager:css/AdvertisementSetting.css" />
<msgqueue />
<script type="text/javascript">
	jquery(function(){
		jquery('#edit_image_radio').click(disableImage);
		jquery('#edit_url_radio').click(disableUrl);
	});

	jquery(function(){
		jquery('.advertisement_select_way').change(function(){
			if(jquery(this).val()=='pic')
			{
				jquery('#'+jquery(this).val()).show();
				jquery('#'+'code').hide();
			}else{
				jquery('#'+jquery(this).val()).show();
				jquery('#'+'pic').hide();
			}
		});
	});

	function disableImage() 
	{
		document.getElementById('edit_url_text').disabled="disabled";
		document.getElementById('edit_image_file').removeAttribute("disabled");
		document.getElementById('edit_url_radio').checked=false;
	}
	
	function disableUrl() 
	{
		document.getElementById('edit_image_file').disabled="disabled";
		document.getElementById('edit_url_text').removeAttribute("disabled");
		document.getElementById('edit_image_radio').checked=false;
	}

</script>
<div class="ad_edit">
	<h2>编辑广告位</h2>
<form enctype="multipart/form-data"  method="post">
	<h1>类型</h1>
	<select class="advertisement_select_way" name="advertisement_way">
		<option value="pic" >图片</option>
		<option value="code">代码</option>
	</select>
	<h1>名称</h1>
	<widget id="edit_name_text" class="text" />
	<widget id="edit_hide_oldname_text" class="text" />
	<widget id="edit_hide_aid_text" class="text" />
	<div id="pic" style="display:{=$sAdDisplayType=='pic' ? '' : 'none'}">
	<h1>文本</h1>
	<widget id="edit_title_text" class="text" />
	<h1>添加图片</h1>
	<div class="ad_pic_box">
	<p class="ad_pic"><label><widget id="edit_image_radio"/>上传图片:<widget id="edit_image_file" /></label></p>
	<label><widget id="edit_url_radio"/>URL引用:<widget id="edit_url_text" class="text" attr.style="width:40%;" /></label>
	</div>
	<h1>添加链接</h1>
	<div id="div_setup">
		<label><widget id="edit_forward_text" class="text" /></label><label><widget id="edit_window_checkbox" />启用新窗口</label>
	</div>
	</div>
	
	<div id="code" style="display:{=$sAdDisplayType=='pic' ? 'none' : ''}">
	<h1>代码:</h1>
	<widget id="edit_code_text"/>
	</div>
	

	
	<div id="edit_div_style">
		<h1>样式</h1>
		<label><widget id="edit_style_text"/></label>
		<p><input type="submit" value="保存" class="ad_button" /></p>
	</div>
</form>
</div>




















