<lib name='jquery'/>
<h2>{=$oAuthName}</h2>
<msgqueue />
<form  method="post" name="Carousel">
	<label>轮播名称:{=$arrCarouselAdvertisement['name']}</label><br/><br/>
	<foreach for="$arrCarouselAdvertisement['advertisements']" key='sKeyPath' item='arrItemList'>
			 <div class='advertisement'>
				<label>广告:
					<select name="advertisement_select[]" >
						<foreach for="$arrAdvertisementSelect" key='sKeyPath' item='singleAdName'>
							<option value="{=$singleAdName}" {=$arrItemList['advertisement_url']['name']==$singleAdName ? 'selected':''}>{=$singleAdName}</option>
						</foreach>
					</select>
				</label>&nbsp;&nbsp;&nbsp;
				<label>权重:<input type="text" size="5" name="random_text[]" value={=$arrItemList['random']}/></label>&nbsp;&nbsp;&nbsp;&nbsp;
				<label>启用:<input type="checkbox" name="run_checkbox[]" value="{=$arrItemList['advertisement_url']['name']}" {=$arrItemList['run']=='on' ? 'checked':''} /></label>		
			</div>	
	</foreach>
	<if "{=count($arrCarouselAdvertisement['advertisements']})!=0">
			<a id='addAdvertisement' href='#'>添加</a><br/><br/><br/>
		<else/>
			<div class='advertisement' id="advertisement">
					<select name="advertisement_select[]" >
						<foreach for="$arrAdvertisementSelect" key='sKeyPath' item='singleAdName'>
							<option value="{=$singleAdName}">{=$singleAdName}</option>
						</foreach>
					</select>
				<label>权重:<input type="text" size="5" name="random_text[]" /></label>&nbsp;&nbsp;&nbsp;&nbsp;
				<label>启用:<input type="checkbox" name="run_checkbox[]" /></label>		
			</div>	
			<a id='addAdvertisement' href='#'>添加</a><br/><br/><br/>
	</if>
	
	
	<input type="submit" name="" value="保存" />
	<input type="hidden" name="randName" value={=$randName}/>
</form>
<script>
jquery(function(){
	//添加按钮功能
	jquery('#addAdvertisement').click(function(){
		var advertisementForm = jquery(".advertisement").last().clone();
		jquery(this).before(advertisementForm);
		return false;
	});
});

jquery(function(){
	//添加按钮功能
	jquery('#addAdvertisement').click(function(){
		var advertisementForm = jquery(".advertisement").last().clone();
		jquery(this).before(advertisementForm);
		return false;
	});
});
</script>