@charset "utf-8";
/* CSS Document */
.adOperation:hover{ background:#d8eaf8;}
.hCode:hover{ background:#d8eaf8;}
.hCode{ margin-top:5px;}
.hViewEdit:hover{ background:#d8eaf8;}
.hViewEdit:hover{ background:#d8eaf8;}

/*
.extensionSetup div{width:50px; float:left;}
.extensionSetup div div{margin-left:60px;margin-bottom:6px;}

.extensionStore {padding:10px; border-radius:5px;margin:5px 0;background:#fff;}
.extensionStore:hover{ background:#d8eaf8;}

.extensionContent {margin-right:20px; float:left;}
.extensionDescription {margin-right:20px; float:left;}
.extensionDescriptionMore {margin-right:20px; overflow:hidden;}
.extensionDependence {margin-right:20px; float:left; overflow:hidden;}
.extensionUse {margin-right:20px; float:left;}
.extensionDownLoad {margin-top:5px; float:left;}
.extensionState {margin-top:5px; float:left;}
.extensionSelect {float:left;}
.extensionDescriptionMore span{overflow:hidden;}
*/